/* tailwind */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";


#map { 
    height: 180px;

 }

 @media (min-width: 700px) {
    #map {
        height: 20rem;
    }
 }

 @media (min-width: 1000) {
    #map {
        height: 500px;
    }
 }